@charset "UTF-8"

/* 기본값 초기화*/
* {margin: 0px, padding: 0px}

body{
	font-family: "맑은 고딕", 돋움;
	font-size: 1em; /* 기본 16px */
}

h1{
	font-size: 1.5em;
}

div#container{
	width: 640px;
	margin: 10px auto;
}